#MainPage {
  overflow: hidden;
  background: linear-gradient(to top,#2C2C2C, #272727, #1E1E1E);
  background-image: repeating-linear-gradient(45deg, #1E1E1E 0px, #1E1E1E 80px, #202020 80px, #202020 140px);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left:0;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}
::-webkit-scrollbar-thumb {
  background: rgba(201,201,201, 0.25);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}
