@keyframes hoveredAnim {
  from {box-shadow: 0px 0px 0px 0px #494949;}
  to {box-shadow: 0px 0px 6px 3px #494949;}
}

@keyframes unselectedAnim {
  from {opacity: 1;}
  to {opacity: 0.5;}
}

.profile-page-frame {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left:0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.info-frame {
  position: absolute;
  top: 85px;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pic-frame {
  width: 1000px;
  height: 325px;
}

.about-me-frame {
  width: 1000px;
  height: 475px;
}

.pet-frame {
  width: 1000px;
  height: 400px;
}

.pet-frame, .about-me-frame, .pic-frame {
  border-radius: 15px;

  background: #FFFFFF;
  transform: scale(0.85);

  box-shadow: 0px 0px 13px #C5C5C5;
  z-index: 20;
  margin-top: 0px;
  margin-bottom: 0px;
}

.pic-frame .username {
  text-align:center;
  margin-bottom: 0;
  text-align: center;
  font-family: Verdana, Aral, sans-serif;
  color: #825DD7;
}

:disabled {
    color: black !important;
    -webkit-text-fill-color:black !important;
}

.pic-frame .path-text {
  position: relative;
  margin-bottom: -5px;
  margin-top: 1px;
  font-size: 15px;
}
.pic-frame .subname {
  text-align:center;
  margin-top: 0;

  text-align: center;
  font-family: Verdana, Aral, sans-serif;
  font-size: 20px;
  color: #C5C5C5;
}

.section-title {
  text-align:left;
  margin-bottom: 0;
  margin-left: 19px;
  font-size: 27px;
  font-family: Verdana, Aral, sans-serif;

  color: #825DD7;
}

.pet-buttons {
  width: 97%;
  height: 75%;
  margin: auto;
}

.grid-contain {
  align-items: center;
  justify-items: center;
}

.multiline {
  white-space: pre-wrap;
}

.grid-avatar {
  box-shadow: 0px 0px 0px 0px #494949;
}

.name-chip {
  z-index: 10;
  position: absolute;
  left: auto;
  right: auto;
  bottom: 10px;
}

.delete-pet {
  z-index: 10;
  position: absolute;
  right: 0px;
  left: auto;
}

.IconButton {
  padding: EdgeInsets.zero;
}

.grid-contain > *:hover > .gridButton > .grid-avatar{
  animation-name: hoveredAnim;
  animation-fill-mode: forwards;
  animation-duration: 0.125s;
}

.grid-contain:has(*:hover) >:not(*:hover) > .gridButton > .grid-avatar{
  animation-name: unselectedAnim;
  animation-fill-mode: forwards;
  animation-duration: 0.125s;
}
