.main-frame {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .homepage-stripe-background {
    width: 100%;
    height: 625px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EEEFF1;
  
  }
  
  .description-frame {
    width: 20%;
    height: 50%;
    clear: both;
    position: relative;
  }
  
  .logo-text {
    text-align: left;
    font-family: Verdana, Aral, sans-serif;
    font-size: 2.9vw;
    color: #825DD7;
    margin-bottom: 0px;
    margin-top: 0px;
  
  }
  .app-description span {
    text-align: left;
    display: block;
    font-family: Verdana, Aral, sans-serif;
    font-size: 0.95vw;
    color: #515151;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 1%;
  }
  